/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');  */

@font-face {
  font-family: projectFont;
  src: url("./assets/fonts/Segoe\ UI\ Bold\ Italic.woff");
}

:root {
  --primary: #f59964;
  --secondary: #23a8a8;
  --tertiary: #64f5f5;
  --light: #ffb082;
  --dark: #a85f34;
  --text: #5e5e5e;
}

* {
  box-sizing: border-box;
  text-decoration: none;
  /* font-family: 'Noto Sans', sans-serif; */
  font-family: projectFont;
}

html {
  overflow-y: auto;
}

body {
  margin: 0;
  padding: 0 !important;
}

.header {
  padding: 1rem;
  color: var(--text);
}

.navLogo {
  display: flex;
}

.navHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 50px;
  width: 50px;
}

.cart {
  height: 35px;
  width: 35px;
}

.categories {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.splide__list img {
  width: 100%;
  height: 500px;
}

.searching {
  text-align: center;
  font-size: 1.5rem;
}

.search-text {
  border-radius: 0.7rem;
}

.suscribe {
  position: relative;
  display:flex;
  flex-direction: column;
  width: 100%;
  height: 350px;
  background-image: url("/assets/images/SLIDE_con\ boton.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.btn-suscribe {
  /* background-color: ; */
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 2rem;
  width: 15%;
  height: 100px;
  border: none;
  border-radius: 20px;
  color: var(--text);
  cursor: pointer;
  font-size: 2rem;
  font-weight: 600;
  padding: 7px 10px 7px 10px;
  transition: background-color 0.4s ease;
  background-color: #ccff00;
}

li {
  list-style: none;
}

.grid-card {
  margin: 3rem 0;
}
.card {
  transition: transform 0.8s;
}

.card:hover {
  transform: scale(1.06);
}

.empty-cart {
  width: 35rem;
  height: 18rem;
}

.card-text {
  font-size: 0.8rem;
}

.btn {
  background-color: var(--secondary);
  border: none;
  color: var(--text);
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  padding: 7px 10px 7px 10px;
  transition: background-color 0.4s ease;
  outline: none;
}

.btn:hover,
.btn:focus,
.btn:active {
  background-color: var(--tertiary) !important;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--primary);
}

.top-footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.menu-options {
  width: 60%;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.options {
  text-decoration: none;
  color: #000;
}

.options a {
  text-decoration: none;
  color: #000;
}

.bottom-footer {
  font-size: 0.8rem;
  color: #fff;
  background-color: var(--text);
  text-align: center;
}

.modal-content{
  z-index: 3;
  height: 100vh;
  padding: 0.8rem;
}

.modal-dialog{
  margin:0;
}

.modal-close{
  width: 22px;
  height: 20px;
}
.modal-header {
  border: none;
}

.modal-body {
  color: var(--text);
  font-weight: 500;
}

.modal-footer {
  border: none;
}

.modal-body span {
  color: var(--secondary);
}

.modal-body span:hover {
  cursor: pointer;
  transform: translateY(-3px);
}

.modal-body span:active {
  transform: translateY(3px);
}

.modal-media-facebook {
  box-shadow: 0 3px 8px 0 rgb(0 0 0 / 6%);
  font-size: 0.9rem;
  background-color: #3b5998;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
}

.modal-media-google {
  box-shadow: 0 3px 8px 0 rgb(0 0 0 / 6%);
  font-size: 0.9rem;
  color: var(--text);
  border-radius: 10px;
  cursor: pointer;
}

.modal-media-google > a {
  background-color: transparent;
}

.modal-line {
  display: flex;
  flex-direction: row;
}
.modal-line:before,
.modal-line:after {
  content: "";
  flex: 1 1;
  border-bottom: 1px solid #dae1e7;
  margin: auto;
}
.modal-line:before {
  margin-right: 10px;
}
.modal-line:after {
  margin-left: 10px;
}

.login-btn {
  color: #fff;
  font-size: 0.9rem;
  border-radius: 10px;
}

.modal-input {
  font-size: 0.9rem;
  border-radius: 10px;
  outline-color: var(--secondary);
  color: #dae1e7;
  border: solid #dae1e7;
  background-color: #f8fafc;
}

.modal-hidden {
 display: none !important;
}

.modal-img{
  width: 100%;
  height: 300px;
  border-radius: 20px;
}

.navigate-btn {
  background-color: #fff;
  box-shadow: 0 3px 8px 0 rgb(0 0 0 / 6%);
  font-size: 0.9rem;
  color: var(--text);
  border-radius: 10px;
}

#tickets{
  color: var(--text);
  text-align: center;
}

.creditImg {
  width: 50px;
  height: 35px;
}

